<ix-select-builder (title)="setTitle($event)" (toggle)="toggle($event)" [(ngModel)]="selectedOption" [open]="open">
    <ix-display>
        <input type="text" [(ngModel)]="inputTitle" (change)="comboInputChanged($event)" (blur)="blur($event)" />
        <ix-button (toggle)="toggle($event)">
            <span class="bs-caret"><span class="caret"></span></span>
        </ix-button>
    </ix-display>
    <ix-option *ngFor="let option of options; let i = index" [innerHTML]="option.elem.innerHTML" [title]="option.title" [value]="option.value"></ix-option>
</ix-select-builder>
