<ix-select-builder (toggle)="toggle($event)" [open]="open" class="btn-group bootstrap-select show-tick" [ngClass]="{'open': open, 'dropup': isDropup()}">
    <ix-display>
        <input type="text" class="filter-option pull-left col-sm-10" [(ngModel)]="inputTitle" (change)="onComboInputChange($event)" (blur)="onBlur($event)" />
        <span (click)="toggle(!open)" class="btn btn-default col-sm-2">
            <span class="bs-caret"><span class="caret"></span></span>
        </span>
    </ix-display>

    <div class="dropdown-menu" [class.open]="open">
      <ul class="dropdown-menu inner" style="max-height: 104px; overflow-y: auto;">
        <ng-content></ng-content>
      </ul>
    </div>
</ix-select-builder>
