<app-example-layout>
  <ng2-title>Async (observable)</ng2-title>
  <ng2-example>
    <select class="show-tick" [(ngModel)]="ngModel" multiple data-actions-box="true" data-style="btn-success">
      <option *ngFor="let user of users | async" [value]="user.id"> 
        {{ user.name }}
      </option>
    </select>
    <!--{{users | json}}-->
  </ng2-example>
  <ng2-code-highlight>
    *ngFor="let user of users | async"
  </ng2-code-highlight>
</app-example-layout>

<!--<script>
hljs.tabReplace = '    ';
hljs.initHighlightingOnLoad();
</script>-->
  