<app-example-layout>
  <ng2-title>Async (Rxjs)</ng2-title>
  <ng2-example>
    <pre>
      {{users | json}}
    </pre>
  </ng2-example>
  <ng2-code-highlight>
    <span class="hljs-tag">&lt;<span class="hljs-title">select</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"selectpicker"</span>    <span class="hljs-attribute">multiple</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">option</span>&gt;</span>Mustard<span class="hljs-tag">&lt;/<span class="hljs-title">option</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">option</span>&gt;</span>Ketchup<span class="hljs-tag">&lt;/<span class="hljs-title">option</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">option</span>&gt;</span>Relish<span class="hljs-tag">&lt;/<span class="hljs-title">option</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">select</span>&gt;</span>
  </ng2-code-highlight>
</app-example-layout>