<app-example-layout>
  <ng2-title>UI/UX</ng2-title>
  <ng2-example>

    <select class="show-tick" [(ngModel)]="ngModel['basicMultiselect']" multiple data-actions-box="true" style="background-color: white; border: 1px solid grey;">
      <option *ngFor="let option of selectOptions" [value]="option.id"> 
        {{ option.name }}
      </option>
    </select>
    
    <select class="show-tick" [(ngModel)]="ngModel['singleselect']" data-style="btn-primary">
      <option *ngFor="let option of selectOptions" [value]="option.id"> 
        {{ option.name }}
      </option>
    </select>
    
    <select class="show-tick" [(ngModel)]="ngModel['multiselect']" multiple data-actions-box="true" data-style="btn-info">
      <option *ngFor="let option of selectOptions" [value]="option.id"> 
        {{ option.name }}
      </option>
    </select>
    
    <select class="show-tick" [(ngModel)]="ngModel['singleselect2']" data-style="btn-success">
      <option *ngFor="let option of selectOptions" [value]="option.id"> 
        {{ option.name }}
      </option>
    </select>
    
    <select class="show-tick" [(ngModel)]="ngModel['multiselect2']" multiple data-actions-box="false" data-style="btn-warning">
      <option *ngFor="let option of selectOptions" [value]="option.id"> 
        {{ option.name }}
      </option>
    </select>
    
    <select class="show-tick" [(ngModel)]="ngModel['singleselect3']" data-style="btn-danger">
      <option [value]=""><-- select --></option>
      <option *ngFor="let option of selectOptions" [value]="option.id"> 
        {{ option.name }}
      </option>
    </select>

  </ng2-example>
  <ng2-code-highlight>
    {{ngModel | json}}
  </ng2-code-highlight>
</app-example-layout>