<select-multiple></select-multiple>

<hr/>

<tabset>
  <tab title="First tab">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam magni quia ut harum facilis, ullam deleniti porro dignissimos
    quasi at molestiae sapiente natus, neque voluptatum ad consequuntur cupiditate nemo sunt.
  </tab>
  <tab *ngFor="let tab of tabs" [title]="tab.title">
    {{ tab.content }}
  </tab>
</tabset>

<hr/>

<popup-app></popup-app>

<!--
  <select [(ngModel)]="ngModel" multi>
  <option>one</option>
  <option>two</option>
</select>

{{ngModel}}
-->

<!--<p>
  <button type="button" class="btn btn-default" (click)="removeDynamic()">
    Remove last dynamic
  </button>
  </p>
  
  <app-accordion>
  <app-accordion-group heading="This is the header" isOpen="true">
    This is the content
  </app-accordion-group>
  <app-accordion-group [heading]="group.heading" *ngFor="let group of groups">
    {{group.content}}
  </app-accordion-group>
  <app-accordion-group heading="Another group" [isOpen]="isOpen">
    More content
  </app-accordion-group>
</app-accordion>-->

<!--<hr/>

<h1>
  {{ngModel}}
</h1>-->

<!--<select>
  <option *ngFor="let c of cities" [value]="c.id">{{c.name}}</option>
</select>-->

<!--
<select [(ngModel)]="ngModel" (change)="onChange($event)" multiple>
  <ng-content select="select-btn"></ng-content>
  <ng-content select="select-option"></ng-content>
</select>
-->