<app-example-layout>
    <ng2-title>Playground</ng2-title>
    <ng2-example>

        <ix-select-builder (title)="setTitle($event)" [(ngModel)]="selectedOption">
            <ix-display>
                <input type="text" [(ngModel)]="title" [title]="title" />
                <ix-button>
                    <span class="bs-caret"><span class="caret"></span></span>
                </ix-button>
                <!--<span class="filter-option pull-left" [innerHTML]="title"></span>&nbsp;<span class="bs-caret"><span class="caret"></span></span>-->
            </ix-display>
            <ix-option *ngFor="let user of users | async" [value]="user.id" [title]="user.name">
                <img [src]="user.gravatarSrc" height="20" width="20" />
                <span>{{user.name}}</span>
            </ix-option>
        </ix-select-builder>

        <pre>
            title: {{title}}
        </pre>

    </ng2-example>
    <ng2-code-highlight>
        *ngFor="let user of users | async"
    </ng2-code-highlight>
</app-example-layout>