body {
  /* background-color: #3f3f3f; */
  /* color: #abb2bf; */
  color: black;
  background-color: #21252b;
}
h2 {
  color: #98c379;
}
h2 * span {
  color: #e5c07b;
}
.bs-docs-example {
  background-color: #282c34;
  border: 1px solid #1b1d23 !important;
}
pre {
  background-color: #282c34;
  border: 1px solid #1b1d23 !important;
}
code {
  background-color: inherit !important;
}
.red {
  color: #e06c75;
}
hr {
  border-top: 1px solid #1b1d23 !important;
}
