<div class="btn-group bootstrap-select show-tick" [ngClass]="{'open': open, 'dropup': isDropup()}">

    <ng-content select="ix-display"></ng-content>

    <div class="dropdown-menu open">

        <ng-content select="ix-actions-box"></ng-content>

        <ng-content></ng-content>

    </div>
</div>

<!-- <ul class="dropdown-menu inner"> -->

    <!-- <li *ngFor="let option of options; let i = index" (click)="selectOption(option)" [class.active]="option.active">
        <div style="display: inline-block" [innerHTML]="option.elem.innerHTML"></div>
        <span *ngIf="option.active" class="glyphicon glyphicon-ok check-mark"></span>
    </li> -->

<!-- </ul> -->
