<div class="btn-group bootstrap-select show-tick" [ngClass]="{'open': open, 'dropup': isDropup()}">
    <!-- <ix-display /> + <ix-button (click)="" /> injected below -->
    <ng-content select="ix-display"></ng-content>
    <div class="dropdown-menu open">
        <ng-content select="ix-actions-box"></ng-content>
        <ul class="dropdown-menu inner">
            <li *ngFor="let option of options; let i = index" (click)="selectOption(option)" [class.active]="option.active" [innerHTML]="option.elem.innerHTML">
                <!-- <ix-option [innerHTML]="" /> injected here --> 
            </li>
        </ul>
    </div>
</div>